[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.0.2"
"pep8" = "*"
"autopep8" = "*"
django-extensions = "*"
django-widget-tweaks = "*"
coverage = "*"
django-coverage-plugin = "*"

[dev-packages]
ipython = "==6.2.1"
django-debug-toolbar = "*"
django-extensions = "*"
werkzeug = "*"
"flake8" = "*"

[requires]
python_version = "3.6"
